*{
    margin:0px;
    padding:0px;
    border:border-box;
}

.Container{
    height:100vh;
    width:100%;
    background-image:linear-gradient(to right,violet, lightblue);
}
.main{
   
    display:flex;
    justify-content: center;
    align-items: center;

}
.box{
    height:400px;
    width:500px;
    background-color:lightcyan;
    padding:15px;
    color:black; 
    margin-top:35px;
}
#pass-box{
    display:block;
    background-color:white;
    padding:10px;       
    font-size:1.5rem;
    color:black;
}
.row{
    width:100%;
    display:flex;
    margin-top:10px;
    justify-content:space-between;
    font-size:.9rem;
    
}
.btn{
    padding:10px;
    margin-top:100px;
    width:100%;
    background-color:black;
    color:white;
}